html, body {
	overflow-x: hidden;

	@include breakpoint(medium) {
		overflow-x: scroll;
	}
}

body {
	position: relative;
	min-height: 100%;
	z-index: 1;
	color: $text;
}

.wrapper {
	margin: 0 auto;
	padding: 3em 1em;
	max-width: 80em;
	overflow: hidden;

	@include breakpoint(small) {
		padding: 4em 2em;
	}

	@include breakpoint(large) {
		padding: 5em 2em;
	}
}

// Typography
html, p, h3 {
	font-size: Helvetica, Arial, sans-serif;
}

h1, h2 {
	font-weight: 300;
}

.wf-active {
	html, p, h3 {
		font-family: 'Source Sans Pro';
	}

	h1, h2 {
		font-family: 'Roboto Slab';
	}
}

h2 {
	margin: 0;
	color: $grey;
	@include font-size(22);
	@include breakpoint(small) {
		@include font-size(28);
	}

	@include breakpoint(medium) {
		@include font-size(32);
	}

	@include breakpoint(large) {
		@include font-size(43);
	}
}

h3 {
	margin: .5em 0 1em;
	font-weight: normal;
	color: $text;
	@include font-size(16);

	@include breakpoint(small) {
		@include font-size(20);
	}

	@include breakpoint(large) {
		@include font-size(25);
	}
}

a {
	color: $grey;
	text-decoration: underline;

	&:hover {
		color: $text;
	}
}