// Top level wrapper that adds l/r padding to document
.full {
	width: 100%;
	margin: 0 auto;

	@include breakpoint(small) {
		padding: .8rem;
	}

	@include breakpoint(medium) {
		padding: 1.6rem;
	}
}

// Section level container (controls background);
.content {
	width: 100%;
	padding: 3rem 0;
	overflow: hidden;

	& + .content {
		padding-top: 0;
	}

	img {
		max-width: 100%;
	}

	@include state(light) {
		background: $light;
	}

	@include state(bright) {
		background: $primary;

		.button {
			background: $primary;
			border-color: $white;
			color: $white;
		}
	}

	@include breakpoint(medium) {
		padding: 4.5rem 0;
	}

	@include breakpoint(large) {
		padding: 6rem 0;
	}
}

// Inner container to cap the content max-width
.contain {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.6rem;
	max-width: $width;
	transition: max-width .3s;

	@include state(tiny) {
		max-width: $width-tiny;
	}

	@include state(narrow) {
		max-width: $width-narrow;

		img {
			width: 100%;
			height: auto;
		}
	}

	@include state(wide) {
		max-width: $width-wide;

		img {
			width: 100%;
			height: auto;
		}
	}
}
