// Colors
$white: #fff;
$light: #f9f9f9;
$gray: #95989a;
$primary: #ed312b;
$secondary: #000;
$text: #95989A;

// Fonts
$serif: 'Merriweather', serif;
$sans: 'Cabin', sans-serif;

// Layout
$width: 120rem;
$width-tiny: 70rem;
$width-narrow: 96rem;
$width-wide: 145rem;
