.about {
	@include breakpoint(large) {
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
}

.about__split {
	margin: 3rem auto 0;

	@include breakpoint(medium) {
		margin: 4.5rem auto 0;
	}

	@include breakpoint(large) {
		margin: 6rem auto 0;
	}
}

.about__split-col {
	float: left;
	width: 50%;
}

.about-content {
	@include breakpoint(large) {
		flex: 0 0 60%;
		padding: 3rem 2rem 0 0;
	}

	@include breakpoint(xlarge) {
		padding: 3rem 4rem 0 0;
	}
}

.about-team {
	text-align: center;

	@include breakpoint(large) {
		flex: 0 0 40%;
		padding: 0 0 0 2rem;
		text-align: left;
	}

	@include breakpoint(xlarge) {
		padding: 0 0 0 4rem;
	}
}

.about__path {
	width: 0;
	height: 0;
}

.about__avatar {
	clip-path: url(#photo_clip);

	@include breakpoint(medium) {
		margin: 0 0 -1rem;
	}

	@include breakpoint(large) {
		margin: 0 0 -2rem;
	}
}
