.button,
input[type=button],
input[type=submit] {
	display: inline-block;
	padding: 1rem 2.5rem;
	background: $white;
	color: $secondary;
	font-size: 1.5rem;
	border-radius: .3rem;
	text-decoration: none;
	border: .3rem solid $secondary;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	transition: color .2s, border-color .2s;

	&:hover {
		border-color: $primary;
		color: $primary;
	}

	@include breakpoint(medium) {
		font-size: 1.6rem;
	}

	@include breakpoint(large) {
		font-size: 1.8rem;
	}
}
