.copy {
	p:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(large) {
		display: flex;

		p:first-child {
			margin-top: 0;
		}
	}
}

.copy__title {
	@include breakpoint(large) {
		flex: 0 0 24rem;
		padding: 0 4rem 0 0;
	}

	@include breakpoint(xlarge) {
		flex: 0 0 30rem;
	}
}
