.footer {
	padding: 6rem 0;
	background: $secondary;
	color: $white;
	text-align: center;

	.contain {
		@include breakpoint(large) {
			display: flex;
			align-items: center;
		}
	}

	&__copyright {
		font-size: 1.5rem;

		@include breakpoint(large) {
			margin: 0 0 0 4rem;
		}
	}

	&__nav {
		margin: 2rem auto 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 .75rem;
			font-size: 1.5rem;
		}

		a {
			color: $white;
			text-decoration: none;
			font-weight: 700;
			transition: color .2s;

			&:hover {
				color: $primary;
			}
		}

		@include breakpoint(large) {
			margin: 0 0 0 auto;

			li {
				margin: 0 1rem;

				&:last-child {
					margin: 0 0 0 1rem;
				}
			}
		}

		@include breakpoint(xlarge) {
			li {
				margin: 0 2rem;

				&:last-child {
					margin: 0 0 0 2rem;
				}
			}
		}
	}
}
