.header {
	display: flex;
	align-items: center;
	background: $white;
	height: 7rem;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	transition: all .3s;

	.contain {
		height: 100%;
		transition: all .4s;
	}

	img {
		max-width: 13rem;
	}

	@include state(fixed-nav, body) {
		background: rgba($white, .97);
		height: 5rem;
		box-shadow: 0 1px 5px rgba(black, .1);

		.contain {
			max-width: $width-wide;
		}

		@include breakpoint(medium) {
			height: 7rem;
		}
	}

	.contain {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include breakpoint(small) {
		img {
			max-width: none;
		}
	}

	@include breakpoint(medium) {
		padding: 0 1.6rem;
		height: 9rem;
	}
}
