.hero {
	padding: 3rem 0;
	background: $light;
	text-align: center;

	@include state(home) {
		padding: 6rem 0;
	}

	@include breakpoint(medium) {
		padding: 4.5rem 0;

		@include state(home) {
			padding: 8.5rem 0;
		}
	}

	@include breakpoint(large) {
		padding: 6rem 0;

		@include state(home) {
			padding: 11rem 0;
		}
	}
}
