.split {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.split-col {
	width: 100%;
	flex: 0 0 100%;

	@include state(photo) {
		position: relative;
		padding: 0;
		order: -1;
		margin: 0 auto 2rem;

		@include breakpoint(large) {
			margin: 0;
		}
	}

	@include breakpoint(large) {
		flex: 0 0 50%;

		@media all and (-ms-high-contrast: none) {
			flex: 0 0 45%;

			*::-ms-backdrop, & {
				flex: 0 0 45%;
			}
		}

		&:first-child {
			padding: 3rem 2rem 0 0;
		}

		@include state(photo) {
			order: 0;

			&:last-child {
				padding: 0 0 0 2rem;
			}
		}
	}

	@include breakpoint(xlarge) {
		&:first-child {
			padding: 3rem 4rem 0 0;
		}

		@include state(photo) {
			&:last-child {
				padding: 0 0 0 4rem;
			}
		}
	}
}

.split-col__icon {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	z-index: 2;
	width: 5rem;
	height: 5rem;

	@include breakpoint(large) {
		width: 8.2rem;
		height: 8.2rem;
	}
}

.split-col__photo {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 8rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		opacity: .75;
		z-index: 1;
	}

	img {
		width: 100%;
		height: 38rem;
		filter: blur(3rem);
	}

	@include state(first) {
		&::before {
			background: $primary;
		}
	}

	@include state(second) {
		&::before {
			background: #4368dc;
		}

		img {
			transform: rotate(90deg);
		}
	}

	@include state(third) {
		&::before {
			background: #f26941;
		}

		img {
			transform: rotate(180deg);
		}
	}

	@include state(fourth) {
		&::before {
			background: #29ca8b;
		}

		img {
			transform: rotate(45deg);
		}
	}

	@include breakpoint(large) {
		height: auto;
	}
}

// Relate projects
.related {
	margin: 2rem 0 0;
	line-height: 2.2;

	@include breakpoint(large) {
		margin: 3rem 0 0;
	}

	@include breakpoint(xlarge) {
		margin: 4rem 0 0;
	}
}
