.btn {
	display: block;
	padding: .625em 2.5em;
	color: #fff;
	@include font-size(14);
	background: $red;
	text-decoration: none;
	border-radius: 1.563em;
	border: 2px solid $red;

	&:hover {
		color: $red;
		background: #fff;
	}

	@include breakpoint(small) {
		@include font-size(16);
	}

	@include breakpoint(medium) {
		@include font-size(20);
	}
}