.work {
	border-top: 1px solid $border;
}

.work-list {
	margin: 0 -10px;
}

.wl-item {
	strong {
		display: block;
		padding: 10px;
	}

	em, img {
		display: block;
		background: $grey;
		height: 10em;
		max-width: 100%;
	}
}

.wl-item--tall strong em {
	height: calc(20em + 20px);
}